global
  log stdout format raw local0

defaults
  mode tcp
  timeout connect 30s
  timeout client 300s
  timeout server 300s
  log global
  option tcplog
  option dontlognull
  option log-separate-errors

frontend fridge_api_tls_in
    mode http
    bind *:8443
    default_backend fridge_api_plain

backend fridge_api_plain
    mode http
    server fridge_api 127.0.0.1:8000 check inter 10s
