---
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: minio-data-copy
  namespace: argo-workflows
spec:
  entrypoint: pull-data-from-minio
  templates:
    - name: pull-data-from-minio
      inputs:
        parameters:
          - name: bucket
          - name: file
      volumes:
        - name: workflow-data-ingress
          persistentVolumeClaim:
            claimName: replace_me
      container:
        name: copy
        image: busybox:1.36.1
        command: ["/bin/sh", "-c"]
        args:
          - |
            wget -O /data/{{inputs.parameters.file}} http://minio.argo-artifacts.svc.cluster.local/{{inputs.parameters.bucket}}/{{inputs.parameters.file}}
        volumeMounts:
          - name: workflow-data-ingress
            mountPath: /data
