global
  log stdout format raw local0

defaults
  mode tcp
  timeout connect 30s
  timeout client 300s
  timeout server 300s
  log global
  option tcplog
  option dontlognull
  option log-separate-errors

frontend in_fridge_api_in
    bind *:8000
    default_backend out_fridge_api

backend out_fridge_api
    server fridge_api fridge-api-service:8000 check inter 120s

frontend in_k8s_api
    bind *:6443
    default_backend out_k8s_api

backend out_k8s_api
    server k8s_api $isolated_k8s_api_endpoint check inter 120s

frontend in_home_tre
    bind *:8001
    default_backend out_home_tre

backend out_home_tre
    server home_tre test-netbird-deploy.netbird.cloud:8000 check inter 120s
